<mapper namespace="UserMapper">
    <select id="GetUser" resultType="User">
        SELECT id, name FROM users 
        <where>
            id in (
                <foreach collection="ids" item="id" separator=",">
                    #{id}
                </foreach>
            )
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>

    <insert id="Insert" parameterType="User">
        INSERT INTO user (id, name) VALUES (#{id == 0 ? $AUTO : id}, #{name})
    </insert>


    <insert id="InsertBatch" parameterType="User">
        INSERT INTO users (id, name) VALUES
        <foreach collection="users" item="user" separator=",">
            <if test="user.age >= 10" >
                (#{user.id}, #{user.name})
            </if>
        </foreach>
    </insert>

    <update id="UpdateById" parameterType="User">
        UPDATE user SET name = #{name}, age = #{age} WHERE id = #{id}
    </update>


    <select id="GetUsers" resultType="User">
        SELECT id, name FROM user
    </select>   

    <select id="GetUserById" resultType="User">
        SELECT id, name FROM user WHERE id = #{id}
    </select>

    <select id="GetUsersInIds" resultType="User">
        SELECT id, name FROM user WHERE id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </select>

    <select id="GetUsersByStruct" >
        SELECT  <include refid="fields" />
        FROM user
        <where>
            <if test="id != 0">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="age != 0">
                and age = #{age}
            </if>
        </where>
    </select>

    <sql id="fields">   
        id, name, age
    </sql>

    <select id="TestInclude" resultType="User">
        SELECT <include refid="fields" /> FROM user
    </select>


    <permission id="PermissionId">
        where id = #{id}
    </permission>

</mapper>
